# Docker Lemp for Magento applications
version: '3.1'

services:
  nginx:
    container_name: app_nginx
    image: nginx:latest
    links:
      - php:app_php@
    volumes:
      - ./nginx/magento.conf:/etc/nginx/conf.d/default.conf:ro,cached
      - ${WWW_DIR}:${WORKING_DIR}
    depends_on:
      - php
      - db
    networks:
      - esnet
    ports:
      - 80:80

  php:
    container_name: app_php
    image: lima195/php-fpm-${PHP_VERSION}:lastest
    volumes:
      - ./php/${PHP_VERSION}/${LOCAL_PHP_INI}:${DOCKER_PHP_INI}
      - ./php/${PHP_VERSION}/${LOCAL_PHP_XDEBUG_INI}:${DOCKER_PHP_XDEBUG_INI}
      - ${WWW_DIR}:${WORKING_DIR}
    depends_on:
      - db
    networks:
      - esnet
    ports:
      - 8025:8025

  adminer:
    container_name: app_adminer
    image: adminer
    links:
      - db
    networks:
      - esnet
    ports:
      - 8080:8080

  db:
    container_name: app_mysql
    image: mysql:${MYSQL_VERSION}
    volumes:
      - ./volumes/mysql:/var/lib/mysql
    networks:
      - esnet

  elasticsearch:
    container_name: app_elasticsearch
    image: docker.elastic.co/elasticsearch/elasticsearch:7.6.0
    volumes:
      - elasticsearchvolume:/usr/share/elasticsearch/data
    networks:
      - esnet

  rabbitmq:
    container_name: app_rabbitmq
    image: rabbitmq:3-management-alpine
    environment:
      RABBITMQ_DEFAULT_USER: ${RABBITMQ_USER}
      RABBITMQ_DEFAULT_PASS: ${RABBITMQ_PASS}
    ports:
      - 5672:5672
      - 15672:15672
    volumes:
      - rabbitmqvolume:/var/lib/rabbitmq/
      - rabbitmqvolume:/var/log/rabbitmq
    networks:
      - esnet

  redis:
    container_name: app_redis
    image: redis
    command: redis-server --requirepass ${REDIS_PASS}
    volumes:
      - ./volumes/redis/data:/data
    networks:
      - esnet
    ports:
      - "6379:6379"
      - "6380:6380"
      - "6381:6381"

volumes:
  elasticsearchvolume:
    driver: local
  rabbitmqvolume:
    driver: local
  mysqlvolume:
    driver: local

networks:
  esnet: